body{
    font-size:13px;
}

#fb_like_share {
    float:right;
}

.all_container {
    margin-top: 60px;
    margin-bottom: 50px;
}

.edit_row_button {
}

.delete_row_button {
}

thead th {
  background-color: #fff;
}

.footer {
    font-size: 11px;
    text-align:center; 
    margin-bottom: 0px;
}

#open_button,
#save_button {
    color: #fff;
}

#file_input {
    display:none;
}

.year_row,
.summary_row {
    font-weight:bold;
    background-color: #f5f5f5;
}
